<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/a1c26f52-5379-4c1e-bb7b-df8d26789beb/resourceGroups/Dommun/providers/Microsoft.Web/sites/DommunBackend</ResourceId>
    <ResourceGroup>Dommun</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://dommunbackend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>84ea309d-a3a3-4257-9845-934ca95b2db0</ProjectGuid>
    <PublishUrl>https://dommunbackend.scm.azurewebsites.net/</PublishUrl>
    <UserName>$DommunBackend</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>