<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/0aa951fc-eb59-4001-831d-d6e92ea16672/resourcegroups/Dommun/providers/Microsoft.Web/sites/DommunBackendWeb</ResourceId>
    <ResourceGroup>Dommun</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://dommunbackendweb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>9536f68b-f5d3-4f54-ae3e-fb239effae02</ProjectGuid>
    <PublishUrl>https://dommunbackendweb.scm.azurewebsites.net/</PublishUrl>
    <UserName>$DommunBackendWeb</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>